body{
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    height: 100vh;

}
.login-form{
    width: 320px;
    background: #fff;
    padding: 30px;
    box-shadow: 0px 0px 10px 0px #0000001a;
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: auto;
}
.login-form h2{
    text-align: center;
    margin-bottom: 25px;
}
.login{
    display: flex;
    flex-direction: column;
}
.login label{
    margin-bottom: 5px;
    font-weight: bold;
}
.login input{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}
.login button{
    padding: 10px;
    background: #d9822b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.login button:hover{
    background: #b9681f;
}